body {
	font-family: 'Raleway', sans-serif;
}

.AdminPosts {
	border: 2px solid black;
	margin: 5px 0;
}

.logo {
	max-width: 100%;
}

.logoSmall {
	max-width: 80%;
}

.createNewPost {
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	a {
		margin-left: 1rem;
	}
	i {
		align-self: center;
	}
}

.card-image {
	img {
		max-height: 100%;
	}
}

.cardHolder {
	margin-top: 4rem;
}

.changeCursor {
	cursor: pointer;
}

.postDiv {
	display: flex;
	justify-content: center;
}

.slideshow {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	img {
		max-height: 100%;
	}
}

.singleImageSlideshow {
	min-height: 300px;
	min-width: 300px;
}

// .socialIcons {
// 	margin-top: 10%;
// }
