body {
	font-family: 'Raleway', sans-serif;
}
// Nav
.logo {
	max-width: 100%;
}

.logoSmall {
	max-width: 80%;
}

.md-dark,
.welcomeSpan { 
	color: rgba(0, 0, 0, 0.54) !important; 
}

.userPhoto {
	max-width: 100%;
	margin-left: 1rem;
	img {
		max-height: 64px;
		border-radius: 50%;
	}
}

.brand-logo {
	img:hover {
		opacity: .5;
	}
}

#mobile-demo {
	background-color: #e8eaf6;
	.input-field {
		height: 10%;
	}
}

// Admin
.AdminPosts {
	border: 2px solid black;
	margin: 5px 0;
}

.md-dialog-content {
	width: 300px;
	height: 300px;
}

// Thumbnail Delete
.image-holder {
	line-height: 0px;
	color: transparent;
	font-size: 2rem;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	   font-weight: 300;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
	.image-holder:hover {
		line-height: 40px;
		color: red;
	}


.createNewPost {
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	a {
		margin-left: 1rem;
	}
	i {
		align-self: center;
	}
}

.card-image {
	img {
		max-height: 100%;
	}
}

.cardHolder {
	margin-top: 4rem;
}

.changeCursor {
	cursor: pointer;
}

.postDiv {
	display: flex;
	justify-content: center;
}
// View Single Post
.slideshow {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	img {
		max-height: 100%;
	}
}

.singleImageSlideshow {
	min-height: 300px;
	min-width: 300px;
}

.postShare {
	padding-bottom: 2rem;
}

.viewImgContainer {
	margin-top: 10rem;
}


