<div class="newBlogPost" >
	<h2>Make a new Post!</h2>
	<input type="text" placeholder="Title" ng-model="newBlogPost.title"/>
	<textarea placeholder="Blog Post" cols="30" rows="10" ng-model="newBlogPost.post"></textarea>
	<div class="boardBtnBox">
		<button class="btn btn-normal" ng-click="AddPost()">Add</button>
	</div>
	<button ng-click="logout()">Logout</button>

	<div ng-repeat="post in posts">
		<div class="AdminPosts" ng-click="EditPostLocation(post.id)">
			<h1>{{post.title}}</h1>
				<h3>{{post.post}}</h3>
		</div>
	</div>
</div>