<div ng-include="'partials/nav.html'"></div>
<div ng-show="LoggedIn">
<button ng-click="logout()" class="logout col s12 right waves-effect waves-light btn deep-orange darken-3">Logout</button>

<div class="newBlogPost" >
	<div class="createNewPost">
		<h2>Make a new Post!</h2><a class="btn-floating btn-large waves-effect waves-light teal accent-4" ng-click="toggleCreateNewPost()"><i class="material-icons">+</i></a>
	</div>

	<div class="row" ng-show="CreateNewPost">
		<form class="col s12">
			<div class="input-field col s6">
				<input id="title" type="text" class="validate" ng-model="newBlogPost.title"/>
				<label for="title">Blog Title</label>
			</div>
		</form>
	<div text-angular class="textAngDiv" ng-model="htmlVariable">
		<textarea placeholder="Blog Post" cols="30" rows="10" ng-model="htmlVariable"></textarea>
	</div>
	<div class="boardBtnBox">
		<button class="btn btn-normal" ng-click="openModalPhoto()">Add Photo</button>
		<button class="btn btn-normal" ng-click="AddPost()">Add</button>
	</div>
	</div>

	<div class="row">
        <div class="col s12 m6" ng-repeat="post in posts | filter: searchText.search">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{post.image}}">
              <span class="card-title">{{post.title}}</span>
            </div>
            <div class="card-content" ta-bind ng-model="post.post" ng-click="EditPostLocation(post.id)">
            </div>
            <div class="card-action">
              <a ng-click="ViewPost(post.id)">View Post</a>
            </div>
          </div>
        </div>
      </div>
	
	<!-- <div class="row" layout-margin>
		<div ng-repeat="post in posts | filter: searchText.search">
			<div class="AdminPosts col s3" ng-click="EditPostLocation(post.id)">
				<div class="adminPostTitle">
					{{post.title}}			
				</div>
				<div class="adminPostPost" ta-bind ng-model="post.post"></div>
			</div>
		</div>
	</div>
</div> -->

<div style="visibility: hidden">
	<div class="md-dialog-container" id="upload-modal">
		<md-dialog>
			<form>
    			<div class="file-field input-field">
					<div class="btn" ngf-select ng-model="uploadedImg" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'">Select</div>
         			<div class="file-path-wrapper">
        			<input class="file-path validate" type="text" ng-model="uploadedImg.name">
      				</div>
    			</div>
				<button ng-click="uploadImg(uploadedImg)">Upload</button>
				<button ng-click="hideModal()">Close</button>
			</form>
		</md-dialog>
	</div>
</div>
</div>
