<div ng-controller="NavCtrl">
	<div class="row">
		<form class="col s12">
			<a href="#!/posts" class="brand-logo"><img class="logoSmall" src="app/img/logo-small.png"></a>
			<div class="input-field col s4 right" ng-show="noSearch">
	          <input id="search" type="text" class="validate" ng-model="searchText.search">
	          <label for="search">Search</label>
	        </div>
	     </form>
	</div>
	<div ng-show="loggedIn">
		<md-fab-speed-dial class="right" md-open="speedDial.isOpen" md-direction="left" ng-class="speedDial.mode">
			<md-fab-trigger>
					<md-button class="md-fab md-warn">
					<md-icon class="material-icons">list</md-icon>
					</md-button>
			</md-fab-trigger>
				<md-fab-actions>
					<md-button class="md-fab md-raised md-mini">
						<md-icon class="material-icons green-text" ng-click="goToAdmin()">home</md-icon>
					</md-button>
					<md-button class="md-fab md-raised md-mini">
						<md-icon class="material-icons red-text" ng-click="logout()">cancel</md-icon>
					</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
</div>

