
<md-dialog aria-label="Mango (Fruit)"  ng-cloak ng-controller="NavCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Blog Background Color</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
       <color-picker ng-model="myColor"></color-picker>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="updateCSS(myColor)">
        Save Background Color
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>