<div ng-include="'partials/nav.html'"></div>
<div class="row">
	<div class="singlePostDiv col s8 center offset-s2">
		<div class="singleTitle">
			<h1>{{singlePost.title}}</h1>
		</div>
		<div class="slideshow" ng-show="hasSlides">
			<img class="singleImageSlideshow responsive-img" ng-repeat="slide in slides" ng-if="isCurrentSlideIndex($index)" ng-src="{{slide.src}}"/>
		</div>
		<div ta-bind ng-model="singlePost.post"></div>
		<md-fab-speed-dial class="right postShare" md-open="speedDial.isOpen" md-direction="left" ng-class="speedDial.mode">
	      			<md-fab-trigger>
	       				 <md-button class="md-fab md-warn">
		     			 	<md-tooltip>
	    						Share
	 					    </md-tooltip>
	        			  <md-icon class="material-icons">share</md-icon>
	       				 </md-button>
	    			  </md-fab-trigger>
	     			 <md-fab-actions>
	       				 <md-button aria-label="Facebook Share" share="true" class="md-fab md-raised md-mini iconBtn">
	       				 	<div share="true" share-links="Facebook" share-title={{singlePost.title}}></div>
	       				 </md-button>
	       				 <md-button aria-label="Twitter Share" share="true" class="md-fab md-raised md-mini">
	       				 	<div share="true" share-links="Twitter" share-title={{singlePost.title}}></div>
	       				 </md-button>
	     			 </md-fab-actions>
	  		    </md-fab-speed-dial>
	</div>
	
	<!-- Disqus Directive -->
	<div class="row">
		<div class="col s8 center offset-s2">
	    	<div disqus="'dynamicUrl'"></div>
	    </div>
	</div>
</div>
	
</div>